<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../../js/common/angular1.3.9/js/angular.min.js"></script>

</head>
<body>
<div ng-app="showOrhide" ng-init="hour =11" ng-controller="showOrHideCrl">
	绑定disabled属性
	<p>
	  <button ng-disabled="checkCrl">点我由选择框控制</button>
	</p>
	<p>
	  <input type="checkbox" ng-model="checkCrl">控制按钮
	</p>
	
	可见、不可见
	<p ng-show="true">show属性   对你可见</p>
	<p ng-show="false">对你隐身</p>
	<p ng-show="hour < 12">对你隐身可见 12点前</p>
    <p ng-hide="true">hide属性   对你不可见</p>
	<p ng-hide="false">hide对你可见</p>
	
	
	事件
	<button ng-click="count =count +1">点我就加1</button>
 	<p>{{count}}</p>
 	
 	<button ng-click="showOrHide()">显示/隐藏</button>
 	<p ng-show="show">
 	   <input type="text" ng-model="userName"/><br/>
 	   <input type="text" ng-model="password"/><br/>
 	   用户信息：用户名 密码 {{userName + password}}
 	</p>
	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>

</div>
</body>
</html>